.rooms {
    border-right: solid 1px var(--senary-grayscale);
    display: block;
    position: relative;
}

.room {
    align-items: center;
    border-bottom: 1px solid var(--senary-grayscale);
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.room--minimized {
    border: solid 1px rgba(0,0,0, 0.1);
    border-radius: 4px;
    bottom: 16px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
    left: 12px;
    position: fixed;
    height: 180px;
    width: 320px;
    z-index: 99999;
}

.connection-status {
    background-color: rgba(0,0,0,0.25);
    color: #dcdcdc;
    font-size: 11px;
    font-weight: 400;
    left: 0;
    line-height: 12px;
    padding: 4px 8px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.connection-status .status,
.connection-status .session-info {
    font-size: 12px;
    font-weight: bold;
}

.connection-status .status {
    color: var(--white);
}

video {
    display: block;
    height: auto;
    width: 100%;
}

.video-controls {
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    bottom: -60px;
    display: flex;
    justify-content: space-between;
    line-height: 1;
    margin: 0;
    padding: 0.5rem;
    position: relative;
    transition: bottom 250ms ease-in-out;
    width: auto;
    z-index: 1000;
}

.room:hover .video-controls {
    bottom: 0;
}

.video-controls li {
    list-style-type: none;
    margin: 0 0.5rem;
}

.show-hide-thumbnail,
.video-control button {
    align-items: center;
    background-color: rgba(0,0,0,0.15);
    border: solid 2px var(--white);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 0;
}

.show-hide-thumbnail {
    height: 2rem;
    width: 2rem;
}

.video-control button {
    height: 2.625rem;
    width: 2.625rem;
}

.show-hide-thumbnail svg,
.video-control button svg {
    fill: var(--white);
    height: 100%;
    width: 100%;
}

.show-hide-thumbnail svg {
    max-height: 1rem;
    max-width: 1rem;
}

.video-control button svg {
    max-height: 24px;
    max-width: 26px;
}

.video-control .end-call {
    border-color: var(--tertiary);
    background-color: var(--tertiary);
}

.start-call,
.video-control .start-call {
    border-color: var(--secondary);
    background-color: var(--secondary);
}

button.disabled {
    opacity: 0.8;
}

button.enabled,
.expanded .show-hide-thumbnail {
    background-color: var(--primary);
    border-color: var(--primary);
}

#showHideThumbnail {
    background: none;
    border: none;
    bottom: 8px;
    cursor: pointer;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 0;
    position: absolute;
    right: 8px;
    text-align: center;
    z-index: 999;
}

