.popout-menu {
    align-content: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.popout-menu__trigger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    outline: none;
    padding: 0;
    text-align: right;
}

.menu-trigger__icon {
    cursor: pointer;
    display: block;
    height: 1rem;
    width: 1rem;
}

.popout-menu__actions {
    background-color: var(--off-white);
    border: 1px solid var(--senary-grayscale);
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 1.25rem;
    top: 0;
    width: 12rem;
}

.popout-menu__action {
    padding: 1rem 1.25rem;
}

.popout-menu__action:hover {
    color: var(--primary);
    cursor: pointer;
}

.photo .popout-menu {
    z-index: 200;
}

.photo .popout-menu__trigger {
    height: 30px;
    padding: 0 0 0 10px;
}

.photo .menu-trigger__icon {
    align-self: flex-end;
}

.photo .popout-menu__actions {
    top: -1rem;
    width: 9rem;
}
