.modal__backdrop {
    align-items: center;
    background-color: var(--white);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999999;
}

.modal__content {
    align-content: center;
    align-items: center;
    background-color: var(--white);
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100%;
}

.modal__content h2 {
    color: var(--tertiary);
    display: block;
    width: 100%;
}

.icon--modal-close {
    cursor: pointer;
    height: 1.5rem;
    right: 1rem;
    position: absolute;
    top: 1rem;
    width: 1.5rem;
}

.icon--modal-close .icon {
    fill: var(--tertiary-grayscale);
    height: 100%;
    width: 100%;
}

.modal__content .title--call-ended {
    color: var(--primary);
}

.modal__options {
    list-style-type: none;
}

.modal__options li {
    cursor: pointer;
    margin: 0.5rem 0 0;
    padding: 1rem;
}

.modal__confirm {
    background-color: var(--tertiary);
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 3px;
    color: var(--white);
}

.modal__cancel {
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 3px;
}

/* Popout Menu adjustments */
.notes-editor .modal__backdrop,
.popout-menu .modal__backdrop {
    background-color: rgba(0,0,0,0.2);
    position: fixed;
}

.notes-editor .modal__content,
.popout-menu .modal__content {
    border-radius: 6px;
    box-shadow: 0 1px 0 0 var(--senary-grayscale);
    max-height: 24rem;
    max-width: 28rem;
}

